<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063475480760-qc5pphagmdlp25qe41atevh89311lvuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063475480760-qc5pphagmdlp25qe41atevh89311lvuk</string>
	<key>API_KEY</key>
	<string>AIzaSyAkQY_QUPcfCqOuMskWhCQt4XQItyl5mNU</string>
	<key>GCM_SENDER_ID</key>
	<string>1063475480760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>slemeshaev.ShareImage</string>
	<key>PROJECT_ID</key>
	<string>shareimage-43037</string>
	<key>STORAGE_BUCKET</key>
	<string>shareimage-43037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063475480760:ios:7fa58a284524c012904c4d</string>
	<key>DATABASE_URL</key>
	<string>https://shareimage-43037.firebaseio.com</string>
</dict>
</plist>